html {
  font-size: 62.5%;
  /* 10px */
}

body {
  background-color: #F3F6FA;
  font-size: 1.6rem;
  /* 16px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url('.../assets/fonts/Inter-VariableFont.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter Regular';
  src: url('.../assets/fonts/static/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Inter SemiBold';
  src: url('.../assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
  font-weight: normal;
}

:root {
  --color-blue: #345FF6;
  --gunmetal-color: #253347;
  --dark-electric-blue-color: #5E6E85;
  --borders-color: #D8E2E7;
  --pure-white-color: #ffffff;

  --font-inter: 'Inter', sans-serif;
  --font-inter-regular: 'Inter Regular', sans-serif;
  --font-inter-semibold: 'Inter SemiBold', sans-serif;

}


header {
  display: flex;
  flex-direction: column;
  margin-top: 0;

  width: 100%;
  height: 640px;

  /* Gradient 1 */

  background: linear-gradient(290.1deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
  border-radius: 0px 0px 35px 35px;
}

header img {
  display: flex;
  height: 4rem;
  width: 4rem;
  margin-top: 3.2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

#header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  height: 327px;

}

header h1 {
  text-align: center;
  font-family: var(--font-inter);
  font-weight: 600;
  font-style: normal;
  font-size: 4.8rem;
  line-height: 110%;
  letter-spacing: 0.00rem;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

header p {
  font-family: var(--font-inter);
  font-weight: 400;
  color: var(--dark-electric-blue-color);
  text-align: center;
  line-height: 150%;
  font-size: 1.6rem;
  margin: 0 2.4rem;

}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -168px;

  width: 328px;
  height: 649px;
  /* left: 24px;
  top: 471px; */
  background: #FFFFFF;
  box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
  border-radius: 16px;
  border-width: 0;
}

#calc-input h2 {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -0.05rem;
}

#field-set-system {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
  max-width: 28rem;
  flex-wrap: wrap;
}

.radio-selection {
  display: flex;
  flex-direction: row;
  align-items: center;

}

#metric {
  height: 3.1rem;
  width: 3.1rem;
}

#imperial {
  height: 3.1rem;
  width: 3.1rem;
}

#field-set-system h3 {
  margin-left: 1.7rem;
  margin-right: 2.4rem;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--gunmetal-color);

}



.input-field {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 9.8rem;
}

#fieldset label {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--dark-electric-blue-color);

}

#fieldset input {
  display: block;
  border-radius: 1.2rem;
  height: 6.9rem;
  margin-top: 0.8rem;
  border: .1rem solid var(--borders-color);

  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;
  padding-left: 2.4rem;
  margin-bottom: 1.6rem;
  max-width: 28rem;
}

#weight-field-label {
  display: flex;
  position: relative;
}

#unit-cm,
#unit-kg {
  position: absolute;
  top: -27px;
  right: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 29px;
  letter-spacing: -0.05em;
  color: #345FF6;
}

#display-result {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: flex-start;
  padding: 32px;
  gap: 24px;
  width: 280px;
  height: 257px;
  background: linear-gradient(90deg, #345FF7 0%, #587DFF 100%);
  border-radius: 16px;
}


#display-result h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--pure-white-color);
}

#display-result span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 110%;
  color: var(--pure-white-color);
}

#display-result p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--pure-white-color);
}

#display-result-number {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0px;
  gap: 8px;
}


/* next section information meaning */

/* stiles */

#information-about-result-meaning img {
  margin-top: 72px;
  width: 375px;
  height: 354.39px;
  left: 0px;
  top: 1192px;
}

#information-about-result-meaning h2 {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: -0.05em;
  color: var(--gunmetal-color);
}

#information-about-result-meaning p {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--dark-electric-blue-color);
}

/* positioning */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}


#information-about-result-meaning div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;

  width: 328px;
  height: 342px;
  left: calc(50% - 328px/2 + 0.5px);
  top: 1594.39px;
  margin-bottom: 71.61px;
}

/* next section about good activities*/

/* styles */

#good-activities img {
  height: 64px;
  width: 64px;
}

#good-activities h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  letter-spacing: -0.05em;
  color: var(--gunmetal-color);
}

#good-activities p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--dark-electric-blue-color);
}


/* positioning */

#good-activities-container {
  display: flex;
  justify-content: center;
  height: 879px;
  background: linear-gradient(290.1deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 25%);

}

#good-activities {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  padding: 0px;
  gap: 40px;
  margin-left: 020px;
  width: 327px;
  height: 767px;
  margin-top: 56px;
  margin-bottom: 56px;
}

#good-activities li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */
  padding: 0px;
  gap: 32px;
}

.good-activities-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


/* last section */

/* styles */
#last-section-information-container-header h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  /* or 35px */

  text-align: center;
  letter-spacing: -0.05em;
  color: var(--gunmetal-color);
}

#last-section-information-container-header p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--dark-electric-blue-color);
}

#list-of-groups h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.05em;
  color: var(--gunmetal-color);
}

#list-of-groups p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--dark-electric-blue-color);
}


/* position */

#last-section-information {
  height: 1531px;
  display: flex;
  justify-content: center;
}

#last-section-information-container {
  margin-top: 72px;
  height: 1363px;
  width: 327px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

#last-section-information-container-header {
  margin-top: ;
  display: flex;
  flex-direction: column;
  gap: 32px;

  border-radius: 16px;
  justify-content: center;
}

#list-of-groups {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#list-of-groups-header-and-icon {
  display: flex;
  gap: 16px;
  align-items: center;
}

#list-of-groups li {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 216px;
  list-style-type: none;
  background-color: var(--pure-white-color);
  padding: 24px;
  border-radius: 16px;
  box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
}